In [2]:
print("Hi")

Hi

In [4]:
print("one more print statement ")

one more print statement

### 3 Modes of execution
> 1. Interactive mode. cmd python >>> quit()
> 2. Scripting mode. .py dir python filename.py 
> 3. IDE Mode .Jupyter 
                to execute  ctrl + enter 
                            shift + enter 
                            b
                            a
                code 
                markdown

In [2]:
print('Hi')

Hi

### Data types :
> 1. int 10 25 4555 -- immutbale
> 2. float 10.255 45.2555  -- immutable 
> 3. str '' , "" , """ """ -- immutable , --iterable 
> 4. list [10,20,30,40,"Python","Java",[100,200,300]] -- mutable, -- iterable  
> 5. tuple (10,20,30,40,50,"Python") -- immutable , -- itarbale 
> 6. dict {"key1":"value1","key2":"value2"} -- mutable , -- iterable 
> 7. set {10,20,30,40,50,60} -- mutable , --iterable  
> 8. bool True False  --immutable -- not iterable

In [ ]:
Mutable  => methods to add update and delete the elements 
Immutable  => no methods to add update and delete the elements

In [ ]:
None True False

In [4]:
num1 = 100
print(num1,type(num1))

100 <class 'int'>

In [5]:
s = "Python sample string"
print(s,type(s))

Python sample string <class 'str'>

In [7]:
l = [10,20,30,40,50,60]
print(l,type(l))

[10, 20, 30, 40, 50, 60] <class 'list'>

In [8]:
num1 = 200
print(num1)

200

In [9]:
num1 = "Python"
print(num1)

Python

In [10]:
num1 = 100
print(id(num1))

1918597280

In [11]:
num1 = 200 
print(id(num1))

1918600480

In [14]:
l = [10,20,30]
print(id(l))
l.append(40)
print(l)
print(id(l))

2190762805640
[10, 20, 30, 40]
2190762805640

In [15]:
num1 = num2 = 200 
print(num1,num2)

200 200

In [16]:
num1,num2 = 100,200 
print(num1,num2)

100 200

In [17]:
num1,num2 = num2,num1 
print(num1,num2)

200 100

### Operators
> 1. Arithmetic operators +,-,*,/,%,// - floor ,** - power
> 2. Comparison Operators ==,!=,<,>,<= ,>= -- True False 
> 3. Identity operators is is not -- True False 
> 4. Memebership Operators in not in  -- True False 
> 5. Logical operators and . or ,not -- True False 
> 6. Assignment Operators =,+=,-=,*=,/=

In [18]:
print(10 / 3)

3.3333333333333335

In [19]:
print(10 // 3)

3

In [20]:
print(10 % 3)

1

In [21]:
print(10 ** 3)

1000

In [23]:
num1 = 100
num2 = 200

print(num1 == num2)

False

In [24]:
l1 = [10,20,30,40]
l2 = [10,20,30,40]
print(l1 == l2)

True

In [30]:
num1 = 257 
num2 = 257
print(id(num1),id(num2))
print(num1 == num2)
print(num1 is num2)

2190762890608 2190762891632
True
False

In [ ]:
Object intering :
    [0,.100..256]
    1000 = > num1
    1000 => num2

In [32]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is not l2)

2190762806472 2190763574408
True
True

In [38]:
l = [10,20,30,40,50,60]
print(50 in l)
print(500 not in l)

True
True

In [39]:
d = {1:1,2:4,3:9,4:16}
print(16 in d)

False

In [40]:
print( 6 == 6 and 6 != 7 )

True

In [43]:
num1 = 100
num1 = num1 + 5
print(num1)
num1 -= 5 #num1 = num1 - 5
print(num1)

105
100

In [ ]:
if [condition]:
    statement1
    statement2
else:
    statements

In [63]:
num1 = 422
num2 = 300
if num1 > num2:
    print("num1 is greater than num2")
    if num1 % 5 == 0:
        print("divisible by 5")
    else:
        print("Not divisible by 5")
elif num2 > num1:
    print("num2 is greater than num1")
else:
    print("Both are equal")
    
print("Statemnt after if ")

num1 is greater than num2
Not divisible by 5
Statemnt after if

In [56]:
char = "a"

if char in 'aeiou':
    print("vowel")
else:
    print("consonent")

vowel

In [61]:
if None:
    print("hi")
else:
    print("python")

python

> - Any non zero value is True 
> - zero values like None,"" , [] ,() -- False

In [ ]:
1. Check no is even or odd -- num1 = 43 
2. Check if num is divisible by 3 and 5 -- num1 = 55